<mat-drawer-container class="mat-drawer-container example-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo">Logo</div>
    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="active"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>
        User
      </li>
    </ul>
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="menuIcon" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>